<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="freeform_cfrp">
  <link
    name="freeform_cfrp">
    <inertial>
      <origin
        xyz="-5.9632E-08 0.0076079 0.014784"
        rpy="0 0 0" />
      <mass
        value="0.1" />
      <inertia
        ixx="0.00068931"
        ixy="1.1085E-08"
        ixz="2.7323E-09"
        iyy="0.00052816"
        iyz="6.1183E-05"
        izz="0.0011724" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://freeform_cfrp/meshes/freeform_cfrp.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
        <texture
          filename="package://freeform_cfrp/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://freeform_cfrp/meshes/freeform_cfrp.STL" />
      </geometry>
    </collision>
  </link>
</robot>