<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="PVS_1000_chuck">
  <link
    name="PVS_1000_chuck">
    <inertial>
      <origin
        xyz="0.05 0.16663 0.043717"
        rpy="0 0 0" />
      <mass
        value="3.4926" />
      <inertia
        ixx="0.039719"
        ixy="6.2622E-19"
        ixz="4.8383E-19"
        iyy="0.006139"
        iyz="-0.00014653"
        izz="0.038919" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://tx90_path_planner/meshes/PVS_1000_chuck.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
        <texture
          filename="package://PVS_1000_chuck/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://PVS_1000_chuck/meshes/PVS_1000_chuck.STL" />
      </geometry>
    </collision>
  </link>
</robot>