<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="surface_cfrp">
  <link
    name="surface_cfrp">
    <inertial>
      <origin
        xyz="-1.1374E-17 4.5609E-17 0.032193"
        rpy="0 0 0" />
      <mass
        value="0.18618" />
      <inertia
        ixx="0.00061682"
        ixy="-1.2438E-20"
        ixz="2.3098E-19"
        iyy="0.00045111"
        iyz="-6.0331E-19"
        izz="0.00087324" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://surface_cfrp/meshes/surface_cfrp.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
        <texture
          filename="package://surface_cfrp/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://surface_cfrp/meshes/surface_cfrp.STL" />
      </geometry>
    </collision>
  </link>
</robot>