<?xml version="1.0"?>
<launch>
  <include file="$(find tx90_moveit_config)/launch/moveit_planning_execution.launch"/>

  <!-- Launch RVIZ with a pre-configured set of message displays -->
  <node name="$(anon rviz)" pkg="rviz" type="rviz" args="-d $(find descartes_tutorials)/config/descartes.rviz"/>
  
</launch>
