<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="cfrp" params="prefix">
    <!-- links: main serial chain -->
    <link name="${prefix}cfrp_base">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <material name="orange"/>
        <geometry>
          <mesh
            filename="package://test_bed/meshes/surface_cfrp.STL" />
        </geometry>
      </visual>

      <collision>
          <geometry>
            <mesh
              filename="package://test_bed/meshes/surface_cfrp.STL" />
          </geometry>
          <origin xyz="0 0 0" rpy="0 0 0"/>
      </collision>

      <inertial>
          <mass value="0.18618"/>
          <inertia ixx="0.00061682" ixy="0.0" ixz="0.0" iyy="0.00045111" iyz="0.0" izz="0.00087324"/>
      </inertial>
    </link>







    
    <gazebo reference="${prefix}cfrp_base">
      <material>Gazebo/Orange</material>
    </gazebo>
  </xacro:macro>
</robot>